* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 1;
  // border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-between;

  .leftBox {
    display: flex;
    padding-left: 40px;
    align-items: center;

    .homeIcon {
      font-size: 28px;
      padding-right: 30px;
    }

    // 검색창
    .searchWrap {
      position: relative;
      .inputWrap {
        height: 35px;
        position: relative;
        display: flex;
        align-items: center;
        border: 1px solid darkgray;
        border-radius: 15px;
        width: 280px;

        .searchInput {
          outline: none;
          display: block;
          border: none;
          margin-left: 10px;
          width: 220px;
          height: 85%;
          font-size: 15px;
          background-color: transparent;
        }
        .searchIconWrap {
          align-items: center;
          .fa-solid {
            display: block;
            font-size: 18px;
            color: darkgray;
            margin-left: 10px;
          }
        }
      }
      //여기서부터 검색 결과 창
      .searchResult {
        position: absolute;
        width: 280px;
        margin-top: 5px;
        border: 1px solid darkgray;
        border-radius: 15px;

        .chartRank {
          .rank {
            display: flex;
            align-items: center;
            height: 45px;

            .rankImgWrap {
              width: 35px;
              height: 35px;
              overflow: hidden;
              margin-right: 2px;
              .rankImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .rankNumber {
              font-size: 16px;
              margin-right: 5px;
            }

            .musicName {
              width: 105px;
              font-size: 14px;
            }
            .artistName {
              width: 80px;
              font-size: 14px;
            }
            .albumName {
              font-size: 14px;
            }
          }
        }
        .artist {
          text-align: center;
          .artistResultWrap {
            display: flex;
            align-items: center;
            .resultMusicName {
              text-align: center;
              width: 130px;
            }
            .resultArtistName {
              text-align: center;
              width: 115px;
            }
            .resultAlbumCover {
              width: 35px;
              height: 35px;
              overflow: hidden;
              .resultAlbumImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .music {
          text-align: center;
          .artistResultWrap {
            display: flex;
            align-items: center;
            .resultMusicName {
              text-align: center;
              width: 130px;
            }
            .resultArtistName {
              text-align: center;
              width: 115px;
            }
            .resultAlbumCover {
              width: 35px;
              height: 35px;
              overflow: hidden;
              .resultAlbumImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .album {
          text-align: center;
          .artistResultWrap {
            display: flex;
            align-items: center;
            .resultMusicName {
              text-align: center;
              width: 130px;
            }
            .resultArtistName {
              text-align: center;
              width: 115px;
            }
            .resultAlbumCover {
              width: 35px;
              height: 35px;
              overflow: hidden;
              .resultAlbumImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
  .rightBox {
    font-size: 24px;
    width: 100px;
    justify-content: space-around;
    display: flex;
    margin-right: 40px;

    .qrIcon {
      font-size: 28px;
    }
  }
}
// .leftBox {
//   // width: 40vw;
//   display: flex;
// }

// .rightBox {
//   // width: 60vw;
//   display: flex;
// }
