// RESET
@import "reset";

// FONT

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
//font-family: 'Anton', sans-serif;

body {
  -ms-overflow-style: none;
  background: linear-gradient(55deg, #c9d6ff, #e2e2e2);
}

::-webkit-scrollbar {
  display: none;
}

//VIDEO

// HEADER
header {
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 1;
  height: 7vh;

  .inner {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    a {
      position: relative;

      /* HOME icon */
      &:nth-child(1) {
        position: absolute;
        left: 0;
        color: rgb(155, 155, 155);
        margin-left: 30px;
        font-size: 25px;
      }

      /* QR-CODE icon */
      &:nth-child(2) {
        position: absolute;
        right: 0;
        margin-right: 100px;
        color: rgb(155, 155, 155);
        font-size: 20px;
      }

      /* Screen확장 icon */
      &:nth-child(3) {
        position: absolute;
        right: 0;
        color: rgb(155, 155, 155);
        margin-right: 50px;
        font-size: 20px;
      }
    }
  }
}

.chart_section_1 {
  height: 100vh;
  // background-image: url("../img/newjeans_bg.jpeg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 0% 60%;
  .inner_1 {
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.288);
    padding: 8vh 7vw;
    .select_div {
      width: 75vw;
      position: relative;
      display: inline-flex;
      align-items: center;

      h1 {
        word-break: break-all;
        white-space: nowrap;
        position: relative;
        margin-right: 30px;
        font-family: "Anton", sans-serif;
        font-size: 38px;
      }
      button {
        white-space: nowrap;
        word-break: break-all;
        font-size: 16px;
        background-color: transparent;
        border: 1px solid #888;
        border-radius: 30px;
        padding: 10px 15px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        height: 30px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #888;
          color: white;
        }
        &.clicked {
          background-color: #888;
          color: white;
        }
      }

      .calendar {
        position: absolute;
        right: -3%;
        width: 100px;
        // height: 60px;
        overflow: hidden;
        text-align: center;
        background-color: aliceblue;
        border-radius: 15px;
        .upper {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 25px;
          background-color: #c9d6ffca;
          #month {
            font-size: 20px;
            color: #093732;
          }
        }
        .lower {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 60px;
          font-size: 16px;
          #day {
            font-size: 13px;
            font-weight: 500;
          }
          #date {
            font-size: 23px;
            line-height: 1;
          }
          #year {
            font-size: 13px;
          }
        }
      }
    }

    #rank_inner_1 {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90vw;
      // height: 70vh;
      padding: 0 50px;
      display: flex;
      justify-content: space-around;
      z-index: 999;

      .rank_div {
        font-family: "Anton", sans-serif;
        overflow: hidden;
        width: 14vw;
        height: 50vh;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 20px;

        .text_div {
          height: 25vh;
          display: block;
          h1 {
            position: relative;
            font-size: 45px;
            color: #888;
            letter-spacing: 1px;
            font-family: "Anton", sans-serif;

            &::after {
              content: "";
              display: block;
              width: 25px;
              border-bottom: 5px solid rgb(199, 85, 85);
              border-radius: 20px;
              margin: 15px 0px;
            }
          }
          h2 {
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
            width: 10vw;
            height: 40px;
          }

          h3 {
            position: relative;
            color: #aaa9a9;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
            width: 10vw;
            height: 30px;
          }

          img {
            position: relative;
            border-radius: 8px;
            width: 11vw;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    #rank_inner_2,
    #rank_inner_3,
    #rank_inner_4,
    #rank_inner_5 {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90vw;
      // height: 70vh;
      padding: 0 50px;
      display: flex;
      justify-content: space-around;
      z-index: 999;

      .rank_div {
        font-family: "Anton", sans-serif;
        overflow: hidden;
        width: 14vw;
        height: 50vh;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 20px;

        .text_div {
          height: 25vh;
          display: block;
          h1 {
            position: relative;
            font-size: 45px;
            color: #888;
            letter-spacing: 1px;
            font-family: "Anton", sans-serif;

            &::after {
              content: "";
              display: block;
              width: 25px;
              border-bottom: 5px solid rgb(199, 85, 85);
              border-radius: 20px;
              margin: 15px 0px;
            }
          }
          h2 {
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
            width: 10vw;
            height: 40px;
          }

          h3 {
            position: relative;
            color: #aaa9a9;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
            width: 10vw;
            height: 30px;
          }

          img {
            position: relative;
            border-radius: 8px;
            width: 11vw;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  #btn_bottom {
    position: absolute;
    color: #888;
    font-size: 35px;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    animation-name: popup;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
  }
}

.chart_section_2 {
  height: 100vh;
  position: relative;

  .inner_2 {
    position: relative;
    width: 80vw;
    top: 50%;
    left: 50%;
    height: 65vh;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.288);
    border-radius: 20px;
    padding: 0 50px;

    .rank_list {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);

      h1 {
        font-family: "Anton", sans-serif;
        letter-spacing: 1px;
        padding: 10px 40px;
        span {
          color: black;
          font-size: 25px;
        }
      }

      .scroll_list {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        .list_item {
          position: relative;
          display: flex;
          vertical-align: top;

          // width: 400px;
          padding: 0;
          box-sizing: border-box;
          ul {
            margin: 0 20px;

            .list_track_row {
              background-color: white;
              margin: 10px 0;
              border-radius: 10px;
              display: table;
              width: 22.5vw;
              height: 50px;
              padding: 10px 10px;
              vertical-align: middle;
              flex-wrap: wrap;

              .album {
                white-space: normal;
                display: table-cell;
                width: 50px;
                vertical-align: middle;

                img {
                  width: 50px;
                  border-radius: 3px;
                }
              }
              .rank {
                display: table-cell;
                width: 31px;
                padding: 5px 0 0 9px;
                text-align: center;
                padding-top: 5px;
                color: rgb(76, 76, 76);
                font-weight: bold;
              }
              .song_area {
                display: table-cell;
                padding: 4px 20px 0 8px;
                vertical-align: top;
                .song {
                  height: 20px;
                  color: black;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  word-break: break-all;
                  width: 15vw;
                  height: 20px;
                  .title {
                  }
                }
                .singer {
                  height: 19px;
                  margin-top: 3px;
                  font-size: 15px;
                  line-height: 19px;
                  letter-spacing: -0.1px;
                  color: #888;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  word-break: break-all;
                  width: 13vw;
                  height: 20px;
                  .artist {
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #btn_top {
    position: absolute;
    color: #888;
    font-size: 35px;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    animation-name: popup;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
  }
}

@keyframes popup {
  0% {
    bottom: 20px;
  }
  20% {
    bottom: 20px;
  }
  100% {
    bottom: 30px;
  }
}
