@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  -ms-overflow-style: none;
  background: linear-gradient(55deg, #c9d6ff, #e2e2e2);
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
}
.navbar .leftBox {
  display: flex;
  padding-left: 40px;
}
.navbar .leftBox .homeIcon {
  font-size: 28px;
  padding-right: 30px;
}
.navbar .leftBox .searchWrap {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid darkgray;
  border-radius: 15px;
  width: 280px;
}
.navbar .leftBox .searchWrap .searchInput {
  outline: none;
  display: block;
  margin-left: 10px;
  border: none;
  width: 220px;
  height: 85%;
  font-size: 15px;
  background-color: transparent;
}
.navbar .leftBox .searchWrap .searchIconWrap {
  align-items: center;
}
.navbar .leftBox .searchWrap .searchIconWrap .fa-solid {
  display: block;
  font-size: 18px;
  color: darkgray;
  margin-left: 10px;
}
.navbar .rightBox {
  font-size: 24px;
  width: 100px;
  justify-content: space-around;
  display: flex;
  margin-right: 40px;
}
.navbar .rightBox .qrIcon {
  font-size: 28px;
}

.chart_section_1 {
  height: 100vh;
}
.chart_section_1 .inner_1 {
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.288);
  padding: 8vh 7vw;
}
.chart_section_1 .inner_1 .select_div {
  width: 75vw;
  position: relative;
  display: inline-flex;
  align-items: center;
}
.chart_section_1 .inner_1 .select_div h1 {
  word-break: break-all;
  white-space: nowrap;
  position: relative;
  margin-right: 30px;
  font-family: "Anton", sans-serif;
  font-size: 38px;
}
.chart_section_1 .inner_1 .select_div button {
  white-space: nowrap;
  word-break: break-all;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #888;
  border-radius: 30px;
  padding: 10px 15px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}
.chart_section_1 .inner_1 .select_div button:hover {
  background-color: #888;
  color: white;
}
.chart_section_1 .inner_1 .select_div button.clicked {
  background-color: #888;
  color: white;
}
.chart_section_1 .inner_1 .select_div .calendar {
  position: absolute;
  right: -3%;
  width: 100px;
  overflow: hidden;
  text-align: center;
  background-color: aliceblue;
  border-radius: 15px;
}
.chart_section_1 .inner_1 .select_div .calendar .upper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  background-color: rgba(201, 214, 255, 0.7921568627);
}
.chart_section_1 .inner_1 .select_div .calendar .upper #month {
  font-size: 20px;
  color: #093732;
}
.chart_section_1 .inner_1 .select_div .calendar .lower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  font-size: 16px;
}
.chart_section_1 .inner_1 .select_div .calendar .lower #day {
  font-size: 13px;
  font-weight: 500;
}
.chart_section_1 .inner_1 .select_div .calendar .lower #date {
  font-size: 23px;
  line-height: 1;
}
.chart_section_1 .inner_1 .select_div .calendar .lower #year {
  font-size: 13px;
}
.chart_section_1 .inner_1 #rank_inner_1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  padding: 0 50px;
  display: flex;
  justify-content: space-around;
  z-index: 999;
}
.chart_section_1 .inner_1 #rank_inner_1 .rank_div {
  font-family: "Anton", sans-serif;
  overflow: hidden;
  width: 14vw;
  height: 50vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
}
.chart_section_1 .inner_1 #rank_inner_1 .rank_div .text_div {
  height: 25vh;
  display: block;
}
.chart_section_1 .inner_1 #rank_inner_1 .rank_div .text_div h1 {
  position: relative;
  font-size: 45px;
  color: #888;
  letter-spacing: 1px;
  font-family: "Anton", sans-serif;
}
.chart_section_1 .inner_1 #rank_inner_1 .rank_div .text_div h1::after {
  content: "";
  display: block;
  width: 25px;
  border-bottom: 5px solid rgb(199, 85, 85);
  border-radius: 20px;
  margin: 15px 0px;
}
.chart_section_1 .inner_1 #rank_inner_1 .rank_div .text_div h2 {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  width: 10vw;
  height: 40px;
}
.chart_section_1 .inner_1 #rank_inner_1 .rank_div .text_div h3 {
  position: relative;
  color: #aaa9a9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  width: 10vw;
  height: 30px;
}
.chart_section_1 .inner_1 #rank_inner_1 .rank_div .text_div img {
  position: relative;
  border-radius: 8px;
  width: 11vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chart_section_1 .inner_1 #rank_inner_2,
.chart_section_1 .inner_1 #rank_inner_3,
.chart_section_1 .inner_1 #rank_inner_4,
.chart_section_1 .inner_1 #rank_inner_5 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  padding: 0 50px;
  display: flex;
  justify-content: space-around;
  z-index: 999;
}
.chart_section_1 .inner_1 #rank_inner_2 .rank_div,
.chart_section_1 .inner_1 #rank_inner_3 .rank_div,
.chart_section_1 .inner_1 #rank_inner_4 .rank_div,
.chart_section_1 .inner_1 #rank_inner_5 .rank_div {
  font-family: "Anton", sans-serif;
  overflow: hidden;
  width: 14vw;
  height: 50vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
}
.chart_section_1 .inner_1 #rank_inner_2 .rank_div .text_div,
.chart_section_1 .inner_1 #rank_inner_3 .rank_div .text_div,
.chart_section_1 .inner_1 #rank_inner_4 .rank_div .text_div,
.chart_section_1 .inner_1 #rank_inner_5 .rank_div .text_div {
  height: 25vh;
  display: block;
}
.chart_section_1 .inner_1 #rank_inner_2 .rank_div .text_div h1,
.chart_section_1 .inner_1 #rank_inner_3 .rank_div .text_div h1,
.chart_section_1 .inner_1 #rank_inner_4 .rank_div .text_div h1,
.chart_section_1 .inner_1 #rank_inner_5 .rank_div .text_div h1 {
  position: relative;
  font-size: 45px;
  color: #888;
  letter-spacing: 1px;
  font-family: "Anton", sans-serif;
}
.chart_section_1 .inner_1 #rank_inner_2 .rank_div .text_div h1::after,
.chart_section_1 .inner_1 #rank_inner_3 .rank_div .text_div h1::after,
.chart_section_1 .inner_1 #rank_inner_4 .rank_div .text_div h1::after,
.chart_section_1 .inner_1 #rank_inner_5 .rank_div .text_div h1::after {
  content: "";
  display: block;
  width: 25px;
  border-bottom: 5px solid rgb(199, 85, 85);
  border-radius: 20px;
  margin: 15px 0px;
}
.chart_section_1 .inner_1 #rank_inner_2 .rank_div .text_div h2,
.chart_section_1 .inner_1 #rank_inner_3 .rank_div .text_div h2,
.chart_section_1 .inner_1 #rank_inner_4 .rank_div .text_div h2,
.chart_section_1 .inner_1 #rank_inner_5 .rank_div .text_div h2 {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  width: 10vw;
  height: 40px;
}
.chart_section_1 .inner_1 #rank_inner_2 .rank_div .text_div h3,
.chart_section_1 .inner_1 #rank_inner_3 .rank_div .text_div h3,
.chart_section_1 .inner_1 #rank_inner_4 .rank_div .text_div h3,
.chart_section_1 .inner_1 #rank_inner_5 .rank_div .text_div h3 {
  position: relative;
  color: #aaa9a9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  width: 10vw;
  height: 30px;
}
.chart_section_1 .inner_1 #rank_inner_2 .rank_div .text_div img,
.chart_section_1 .inner_1 #rank_inner_3 .rank_div .text_div img,
.chart_section_1 .inner_1 #rank_inner_4 .rank_div .text_div img,
.chart_section_1 .inner_1 #rank_inner_5 .rank_div .text_div img {
  position: relative;
  border-radius: 8px;
  width: 11vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chart_section_1 #btn_bottom {
  position: absolute;
  color: #888;
  font-size: 35px;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  animation-name: popup;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}

.chart_section_2 {
  height: 100vh;
  position: relative;
}
.chart_section_2 .inner_2 {
  position: relative;
  width: 80vw;
  top: 50%;
  left: 50%;
  height: 65vh;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.288);
  border-radius: 20px;
  padding: 0 50px;
}
.chart_section_2 .inner_2 .rank_list {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.chart_section_2 .inner_2 .rank_list h1 {
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
  padding: 10px 40px;
}
.chart_section_2 .inner_2 .rank_list h1 span {
  color: black;
  font-size: 25px;
}
.chart_section_2 .inner_2 .rank_list .scroll_list {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.chart_section_2 .inner_2 .rank_list .scroll_list .list_item {
  position: relative;
  display: flex;
  vertical-align: top;
  padding: 0;
  box-sizing: border-box;
}
.chart_section_2 .inner_2 .rank_list .scroll_list .list_item ul {
  margin: 0 20px;
}
.chart_section_2 .inner_2 .rank_list .scroll_list .list_item ul .list_track_row {
  background-color: white;
  margin: 10px 0;
  border-radius: 10px;
  display: table;
  width: 22.5vw;
  height: 50px;
  padding: 10px 10px;
  vertical-align: middle;
  flex-wrap: wrap;
}
.chart_section_2 .inner_2 .rank_list .scroll_list .list_item ul .list_track_row .album {
  white-space: normal;
  display: table-cell;
  width: 50px;
  vertical-align: middle;
}
.chart_section_2 .inner_2 .rank_list .scroll_list .list_item ul .list_track_row .album img {
  width: 50px;
  border-radius: 3px;
}
.chart_section_2 .inner_2 .rank_list .scroll_list .list_item ul .list_track_row .rank {
  display: table-cell;
  width: 31px;
  padding: 5px 0 0 9px;
  text-align: center;
  padding-top: 5px;
  color: rgb(76, 76, 76);
  font-weight: bold;
}
.chart_section_2 .inner_2 .rank_list .scroll_list .list_item ul .list_track_row .song_area {
  display: table-cell;
  padding: 4px 20px 0 8px;
  vertical-align: top;
}
.chart_section_2 .inner_2 .rank_list .scroll_list .list_item ul .list_track_row .song_area .song {
  height: 20px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  width: 15vw;
  height: 20px;
}
.chart_section_2 .inner_2 .rank_list .scroll_list .list_item ul .list_track_row .song_area .singer {
  height: 19px;
  margin-top: 3px;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.1px;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  width: 13vw;
  height: 20px;
}
.chart_section_2 #btn_top {
  position: absolute;
  color: #888;
  font-size: 35px;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  animation-name: popup;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}

@keyframes popup {
  0% {
    bottom: 20px;
  }
  20% {
    bottom: 20px;
  }
  100% {
    bottom: 30px;
  }
}/*# sourceMappingURL=chart.css.map */